html,
body {
  padding: 0;
  margin: 0;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 0.25rem;
  height: 100%;
}

#__next,
#__next > div {
  height: 100%;
}

h1 {
  font-size: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
